@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
  --primary: #1e3a8a; /* blue-900 */
  --secondary: #7c3aed; /* violet-600 */
  --accent: #3b82f6; /* blue-500 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
